{
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "disableLanguages": [
    "html"
  ],
  "eslintIntegration": true
}
